---
id: portfolio
title: Portfolio
permalink: /en/portfolio/
weight: 5
js: portfolio.js
---

<div class="row portfolio">
  {% for group in site.data.projects %}
  <div class="page-{{ forloop.index }} project-group col-xs-12"{% if forloop.first == false %} style="display: none"{% endif %}>
    <div class="row">
      {% for project in group %}
      <div class="col-md-6">
        <div class="project">
          <a href={{ project.www }} target="_blank">
            <span class="text-center">{{ project.title }}<em>{{ project.www }}</em></span>
            <img class="img-responsive" src="/img/portfolio/{{ project.image }}.png" alt="title">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <div class="col-xs-12 show-more">
    <button type="button" class="btn btn-default btn-block">
      <span class="glyphicon glyphicon-chevron-down pull-left"></span>
      Show more projects
      <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    </button>
  </div>
</div>
