<div class="col-md-5 col-md-offset-1 copyright">
  &copy; {{ site.title }} {{ site.time | date: '%Y' }}
  <span class="hidden-xs">&dash; Tous droits réservés</span>
</div>

<div class="col-md-5">
  <ul class="nav nav-pills pull-right hidden-sm hidden-xs menu menu-small">
    <li {% if page.id == 'home' %}class="active"{% endif %}>
      <a href="/">Accueil</a>
    </li>

    <li {% if page.id == 'portfolio' %}class="active"{% endif %}>
      <a href="/portfolio">Portfolio</a>
    </li>

    <li {% if page.id == 'resume' %}class="active"{% endif %}>
      <a href="/resume">CV</a>
    </li>

    <li {% if page.id == 'contact' %}class="active"{% endif %}>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</div>
