<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">{{ site.data.translations[page.lang].skills.title }}</h2>

    {% for group in site.data.translations[page.lang].skills.groups %}
      <div class="subheading mb-3">{{ group.title }}</div>
      <ul class="fa-ul">
        {% for item in group.items %}
          <li>
            <i class="fa-li {{ item.icon }}"></i> {{ item.label }}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>
