<!DOCTYPE html>
<html lang="{{ page.lang }}">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139927798-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-139927798-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pierre Villette - {{ translations[page.lang].layout.title }}</title>

    <meta name="description" content="{{ translations[page.lang].layout.description }}">
    <meta name="author" content="Pierre Villette">

    <!-- OpenGraph -->
    <meta property="og:title" content="Pierre Villette - {{ translations[page.lang].layout.title }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="{{ page.lang }}">
    <meta property="og:description" content="{{ translations[page.lang].layout.description }}">
    <meta property="og:url" content="http://villette.github.io/{{ page.lang }}/">
    <meta property="og:image" content="http://villette.github.io/img/profile.jpg">

    <!-- Favicons and manifest -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body id="top">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <a class="navbar-brand js-scroll-trigger" href="#top">
        <span class="d-block d-lg-none">Pierre Villette</span>

        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.jpg" alt="Pierre Villette" height="144" width="144">
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbar-collapse" class="collapse navbar-collapse">
        {% include 'navigation.html' %}
      </div>
    </nav>

    <div class="container-fluid p-0">

      {{ content }}

    </div>

    <!-- Bundled custom JS -->
    <script src="/js/script.js"></script>
  </body>

</html>
